header {
  /* border: 10px solid red; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  /* border: 2px dashed blue; */
}

.navcontainer {
  /* border: 10px solid red; */
  padding-right: 50px;
  padding-left: 50px;
  /* position: sticky;
  z-index: 9999;
  top:0px;
  background-color: black; */
}

.navigation a {
  /* border: 2px dashed blue; */
  height: 85px;
  line-height: 85px;
  /* max-width: 1433px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px; */
}

.container {
  /* border: 10px solid red; */
  /* border: 2px dashed blue; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-right: 50px;
  padding-left: 50px;
}

.linenav {
  margin-top: 0px;
  margin-bottom: 0px;
}

.line {
  margin-top: 50px;
  margin-bottom: 40px;
}

.line2 {
  margin-bottom: 40px;
}

.column1 {
  /* border: 10px solid red; */
  width: 18.33%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column2 {
  /* border: 10px solid red; */
  width: 16.66%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column3 {
  /* border: 10px solid red; */
  width: 25%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column4 {
  /* border: 10px solid red; */
  width: 33.33%;
  padding-right: 15px;
  float: left;
}

.column4-1 {
  /* border: 10px solid red; */
  width: 33.33%;
  float: left;
}

.column5 {
  /* border: 10px solid red; */
  width: 41.66%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column6 {
  /* border: 10px solid red; */
  width: 50%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column7 {
  /* border: 10px solid red; */
  width: 58.33%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column8 {
  /* border: 10px solid red; */
  width: 66.66%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column-8 {
  /* border: 10px solid red; */
  width: 66.66%;
  float: left;
}

.column9 {
  /* border: 10px solid red; */
  width: 75%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column10 {
  /* border: 10px solid red; */
  width: 83.33%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column11 {
  /* border: 10px solid red; */
  width: 99.66%;
  padding-right: 15px;
  float: left;
  /* margin-bottom: 30px; */
}

.column12 {
  /* border: 10px solid red; */
  width: 100%;
  /* padding-right: 15px; */
  float: left;
  /* margin-bottom: 30px; */
}

.footercontainer {
  /* border: 10px solid red; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  max-width: 1400px;
  padding-right: 50px;
  padding-left: 50px;
}

.footerline {
  /* border: 10px solid red; */
  margin-top: 40px;
  margin-bottom: 15px;
}

.clearfix {
  /* border: solid; color: blue; */
  clear: both;
}
