header {
  /* border: 10px solid red; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.navcontainer {
  /* border: 10px solid red; */
  padding-right: 50px;
  padding-left: 50px;
  /* position: sticky;
  z-index: 9999;
  top:0px;
  background-color: black; */
}

.navigation a {
  /* border: 10px solid red; */
  height: 85px;
  line-height: 85px;
}

.container {
  /* border: 10px solid red; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-right: 50px;
  padding-left: 50px;
}

.line {
  margin-bottom: 35px;
}

.line2 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.line3 {
  margin-top: 50px;
  margin-bottom: 35px;
}

.space-1 {
  margin-bottom: 0cm;
}

.space-2 {
  margin-bottom: 15px;
}

.space-3 {
  margin-bottom: 33px;
}

.column1 {
  /* border: 10px solid red; */
  width: 18.33%;
  padding-right: 15px;
  float: left;
}

.column2 {
  /* border: 10px solid red; */
  width: 16.66%;
  padding-right: 15px;
  float: left;
}

.column3 {
  /* border: 10px solid red; */
  width: 25%;
  padding-right: 15px;
  float: left;
}

.column4 {
  /* border: 10px solid red; */
  width: 33.33%;
  padding-right: 15px;
  float: left;
  margin-bottom: 0px;
}

.column4-1 {
  /* border: 10px solid red; */
  width: 33.33%;
  float: left;
  margin-bottom: 12px;
}

.column5 {
  /* border: 10px solid red; */
  width: 41.66%;
  padding-right: 15px;
  float: left;
}

.column6 {
  /* border: 10px solid red; */
  width: 50%;
  padding-right: 15px;
  float: left;
}

.column7 {
  /* border: 10px solid red; */
  width: 58.33%;
  padding-right: 15px;
  float: left;
}

.column8 {
  /* border: 10px solid red; */
  width: 66.66%;
  padding-right: 15px;
  float: left;
  margin-bottom: 0px;
}

.column8-1 {
  /* border: 10px solid red; */
  width: 66.66%;
  float: left;
  padding-right: 0px;
}

.column8-2 {
  /* border: 10px solid red; */
  width: 66.66%;
  float: left;
  padding-right: 15px;
}

.column9 {
  /* border: 10px solid red; */
  width: 75%;
  padding-right: 15px;
  float: left;
}

.column10 {
  /* border: 10px solid red; */
  width: 83.33%;
  padding-right: 15px;
  float: left;
}

.column11 {
  /* border: 10px solid red; */
  width: 99.66%;
  padding-right: 15px;
  float: left;
}

.column12 {
  /* border: 10px solid red; */
  width: 100%;
  float: left;
  margin-bottom: 35px;
}

.column12-1 {
  /* border: 10px solid red; */
  margin-bottom: 12px;
}

.footercontainer {
  /* border: 10px solid red; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  max-width: 1400px;
  padding-right: 50px;
  padding-left: 50px;
}

.footerline {
  margin-top: 50px;
  margin-bottom: 15px;
}

.clearfix {
  /* border: solid; color: blue; */
  clear: both;
}
