.navigation a {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1%;
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration: none;
  margin-right: 20px;
  text-transform: capitalize;
  position: 50px;
}

.navigation a:hover {
  color: rgb(135, 135, 135);
}

a {
  color: rgb(135, 135, 135);
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

/* .button a {
  text-decoration: none;
  color: white;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1%;
  font-size: 1.1rem;
}

.button a:hover {
  color: rgb(135, 135, 135);
}

.button:hover {
  border: solid 1px rgb(135, 135, 135);
} */

p {
  margin-bottom: 10px;
}

.p2 {
  margin-top: 150px;
  margin-bottom: 15px;
}

.p3 {
  margin-bottom: 10px;
}

.mainheading {
  /* Neue Haas Grotesk Display Pro 65 Medium */
  /* background-color: blue; */
  color: #ffffff;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 6.35rem;
  line-height: 6.4rem;
  letter-spacing: 1.5%;
  margin-top: 50px;
  margin-bottom: 45px;
}

h2 {
  /* background-color: brown; */
  color: #ffffff;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.9rem;
  line-height: 2rem;
  letter-spacing: 4%;
  margin-top: 0px;
  margin-bottom: 20px;
}

.h2-1 {
  /* background-color: purple; */
  margin-top: 54px;
}

.h3-1 {
  /* background-color: blue; */
  color: #ffffff;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.5%;
  font-size: 1rem;
  margin-bottom: 10px;
}

.h3-2 {
  /* background-color: darkblue; */
  color: #ffffff;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.5%;
  font-size: 1rem;
  margin-bottom: 10px;
}

.h3-3 {
  /* background-color: red; */
  color: #ffffff;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.5%;
  font-size: 1rem;
  margin-bottom: 10px;
}

.h4-1 {
  /* background-color: green; */
  color: #ffffff;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.5%;
  font-size: 1rem;
  margin-top: 32px;
}

.column2 {
  color: #ffffff;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1%;
  font-size: 1rem;
  line-height: 1.4rem;
}

.column4 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1%;
  font-size: 1rem;
  line-height: 1.4rem;
}

.column4-1 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1%;
  font-size: 1rem;
  line-height: 1.4rem;
}

.column8 {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1%;
  font-size: 1rem;
  line-height: 1.4rem;
}

.column6 {
  /* background-color: blue; */
  color: #ffffff;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5%;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.column12intro {
  /* background-color: blue; */
  color: #ffffff;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5%;
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 35px;
}

.column12small {
  /* background-color: blue; */
  color: #ffffff;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1%;
  font-size: 1rem;
  line-height: 1.4rem;
}

.footertext {
  color: #ffffff;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5%;
  font-size: 0.95rem;
  line-height: 1.35rem;
}
